body{
    background-color: rgb(159, 121, 72);
    border: 0cqb black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
header{
               
}